@model ExemploEF.Models.Produto

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-4">
    <div class="text-center">
        <h1 class="fw-bold">Editar</h1>
        <p class="text-muted">Editar produtos existentes no sistema.</p>
    </div>
<hr />
<div class="row container mt-4 p-4 bg-light rounded shadow">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProdutoId" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estoque" class="control-label"></label>
                <input asp-for="Estoque" class="form-control" />
                <span asp-validation-for="Estoque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
                <div class="d-flex justify-content-end mb-3">
                    <input type="submit" value="Salvar" class="btn btn-success rounded-3 fw-bold"
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
